.container {
  max-width: 938px;
  margin: 0 auto;
  padding-top: 100px;
}

.header {
  padding: 15px;
  background-color: white;
  border-radius: 5px;

  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: start;
  column-gap: 50px;
}

.buttons {
  grid-column-start: 2;
  display: flex;
  align-items: center;
  column-gap: 12px;
  position: relative;
}

.button,
.link {
  padding: 6px 17px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
}

.button {
  border: 1px solid hsla(357, 91%, 55%, 1);
  color: hsla(357, 91%, 55%, 1);
  cursor: pointer;
}

.link {
  border: 1px solid hsla(100, 77%, 44%, 1);
  color: hsla(100, 77%, 44%, 1);
}

.body {
  padding: 15px;
  padding-top: 0;
  background-color: hsl(0, 0%, 100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: hsla(0, 0%, 0%, 0.75);
}
