.container {
  max-width: 938px;
  margin: 0 auto;
  padding-top: 100px;
}

.header {
  padding: 15px;
  background-color: white;
  border-radius: 5px;

  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: start;
  column-gap: 50px;
}

.body {
  padding: 15px;
  padding-top: 0;
  background-color: hsl(0, 0%, 100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: hsla(0, 0%, 0%, 0.75);
}
