.container {
  max-width: 938px;
  min-height: 100vh;
  padding: 115px 0 25px 0;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 25px;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.error {
  width: 500px;
  margin: 0 auto;
  padding-top: 200px;
  text-align: center;
  font-size: 36px;
  color: hsla(0, 0%, 0%, 0.75);
  font-weight: 500;
}
