.container {
  width: 380px;
  margin: 0 auto;
  position: relative;
}

.pagination {
  overflow: hidden;
}

.arrowLeft,
.arrowRight {
  padding: 5px;
  position: absolute;
  top: 1px;
  cursor: pointer;
}

.arrowLeft {
  left: -25px;
}

.arrowRight {
  right: -25px;
}
