.container {
  max-width: 938px;
  margin: 0 auto;
  padding-top: 114px;
}

.tags,
.tag {
  display: flex;
  column-gap: 17px;
}

.tags {
  align-items: flex-end;
}

.tagBtnAdd,
.tagBtnRemove {
  height: 40px;
  font-size: 16px;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.tagBtnAdd {
  width: 136px;
  border: 1px solid hsla(209, 100%, 55%, 1);
  border-radius: 4px;
  color: hsla(209, 100%, 55%, 1);
}

.tagBtnRemove {
  width: 120px;
  border: 1px solid hsla(357, 91%, 55%, 1);
  border-radius: 4px;
  color: hsla(357, 91%, 55%, 1);
}
