.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 200px;
  color: hsla(0, 0, 0, 0.7);
  text-align: center;
}

.text {
  font-size: 32px;
  margin-bottom: 10px;
}

.link {
  text-decoration: underline;
  color: hsla(209, 100%, 55%, 1);
  font-size: 18px;
}
