.header {
  width: 100%;
  min-height: 80px;
  padding: 0 15px;
  background-color: hsla(0, 0%, 100%, 1);
  color: hsla(0, 0%, 0%, 0.85);
  font-size: 18px;

  display: flex;
  align-items: center;
  column-gap: 15px;
  position: absolute;
}

.logo {
  flex-grow: 1;
}

.userPanel {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.actionsPanel {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.username {
  color: hsla(0, 0%, 0%, 0.85);
  font-size: 18px;
}

.createBtn,
.regBtn,
.logoutBtn {
  padding: 10px 20px;
  border: 1px solid hsla(100, 77%, 44%, 1);
  color: hsla(100, 77%, 44%, 1);
  border-radius: 5px;
}

.createBtn {
  padding: 7px 10px;
  font-size: 14px;
}

.logoutBtn {
  border: 1px solid hsla(0, 0%, 0%, 0.75);
  color: hsla(0, 0%, 0%, 0.75);
  cursor: pointer;
}
