.article {
  padding: 15px;
  background-color: white;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 50px;
}

.title {
  max-height: 150px;
  color: hsla(209, 100%, 55%, 1);
  font-size: 18px;
  word-break: break-word;
  overflow: hidden;
}
