@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

body {
  background-color: hsla(216, 26%, 94%, 1);
  font-family: 'Inter', 'sans-serif';
}
